.details{
    padding: 20px;
}

.review{
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.bookingBox{
    padding: 20px;
    width: 80%;
    border: 1px solid silver;
}

.contactBox{
    height: fit-content;
    width: 80%;
    padding: 40px;
    border: 1px solid silver;
    border-radius: 10px;
}

.bookingBox{
    border-radius: 10px;
}

.reviewChart{
    width: 70%;
    padding: 50px;
    border: 1px solid silver;
    border-radius: 10px;
}

.reviewBox{
    display: flex;
    /* align-items: center; */
}

.reviewBox svg {
    color: orange;
}
.availabilityBox{
    display: flex;
    height: 220px;
    width: 62vw;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .availabilityBox{
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        width: 90vw;
    }
}